:root { 
--bluegray_900:#343541; 
--bluegray_800:#444654; 
--teal_500:#10a37f; 
--black_900:#000000; 
--bluegray_200:#acacbe; 
--bluegray_100:#d1d5db; 
--black_900_3f:#0000003f; 
--white_A700:#ffffff; 
--purple_400:#9547d2; 
}